<link rel="stylesheet" href="/stylesheets/headar.css">
<header class="text-light shadow-lg p-3 mb-5">
    <h2 class="Effect ">World New</h2>
    <nav class="Nav_link ">
        <a class="navbar text-light" href="/index">Home</a>
        <a class="navbar text-light" href="/add_post">Add_Post</a>
        <a class="navbar text-light" href="">Contact the developer</a>
    </nav>
</header>